.navbar{
  display: flex;
  justify-content: space-around;
  padding: 16px;
  box-shadow: 0 1px 3px -2px black;
}

.nav-logo{
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-logo p{
  color: #171717;
  font-size: 38px;
  font-weight: 600;
}

.nav-menu{
  display: flex;
  align-items: center;
  gap: 50px;
  list-style: none;

}

.nav-menu li{
  cursor: pointer;
}

.nav-menu li .link{
  text-decoration: none;
  color: #626262;
  font-size: 24px;
  font-weight: 500;
}

.nav-menu hr{
  width: 80%;
  height: 4px;
  background: #ff4141;
  border: none;
  border-radius: 10px;
}

.nav-login{
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-login button{
  width: 150px;
  height: 50px;
  border: 1px solid #7a7a7a;
  border-radius: 75px;
  color: #515151;
  font-size: 22px;
  font-weight: 500;
  background: white;
  cursor: pointer;
}

.nav-login button:hover{
  background: #e3dede;
}