.offers {
  width: 70%;
  height: 60vh;
  display: flex;
  margin: auto;
  padding: 0 140px;
  margin-bottom: 140px;
  background: linear-gradient(180deg, #fde1ff, #0e8b3322);
}

.offers-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.offers-left h1 {
  color: #171717;
  font-size: 60px;
  font-weight: 600;
  line-height: .3;
}

.offers-left p{
  color: #171717;
  font-size: 24px;
  font-weight: 500;
}

.offers-left button{
  width: 200px;
  height: 70px;
  border-radius: 35px;
  background: #ff4141;
  border: none;
  color: white;
  font-size: 22px;
  font-weight: 600;
  margin-top: 30px;
  cursor: pointer;
}